body {
    background-image: linear-gradient(to right, #AAABB8, #25274D );
      
}

h1 {
    color: white;
}

#cocktail-icon{
    padding: 10px 100px 10px 100px;
}

#cocktail-name{
    white-space:nowrap;
    width: 23vw;
    height: 7vh;
    margin: auto auto;
}
