body {
    background-image: linear-gradient(to right, #AAABB8, #25274D );
      
}

h1 {
    color: white;
}

#cocktail-icon{
    padding: 10px 100px 10px 100px;
}

#cocktail-name{
    white-space:nowrap;
    width: 23vw;
    height: 7vh;
    margin: auto auto;
}
#meal-name{
    white-space:nowrap;
    width: 23vw;
    height: 7vh;
    margin: auto auto;
}
#mod-meal-instructions, #mod-instructions{
    margin-top: 30px;
    font-size: 100%;
}
#mod-ingr-list {
    font-size: large;
}
#mod-meal-ingr-list {
    font-size: large;
}

#mod-meal-name, #mod-name{
    margin-bottom: 50px;
    font-size: 5vh;
}

#modal1, #modal2{
    background-color: #121212;
    color: rgb(183, 171, 192);
    font-weight:bolder;
    
}